/**
 * Use this file to override _settings.scss
 */

/**
 * Variables
 */

// This is the default html and body font-size for the base rem value.
// $rem-base: 16px;

// Allows the use of rem-calc() or lower-bound() in your settings
@import "foundation/functions";

$small-range: (0, 480px);
$medium-range: (481px, 767px);
$large-range: (768px, 1023px);
$xlarge-range: (1024px, 1279px);
$xxlarge-range: (1280px);