/**
 * Mixins
 */
// Cross-browser transparent background
@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	// background-color: transparent;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	zoom: 1;
}
// Retina Backgrounds
@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);

	@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
		}
	}
}

/**
 * Placeholders
 */
// Image Replacement
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

/**
 * Global
 */
body {
	line-height: $paragraph-line-height;
}
figure {
	margin: 0;
}
// Grid Spacing
.is-stacked {

	[data-grid-column] + [data-grid-column] {
		margin-top: $column-gutter;
	}
}

.block {
	padding: ($column-gutter / 2) 0;

	@media #{$medium-up} {
		padding: $column-gutter 0;
	}
}