/**
 * General
 */

// Image replacement
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

figure {
	margin: 0;
}

/**
 * Classes
 */
.block {
	padding: rem-calc(30px 0);

	@media #{$medium-up} {
		padding: rem-calc(60px 0);
	}
}
.mt {
	margin-top: rem-calc(15px);
}
.mt-0 {
	margin-top: 0;
}
.mb {
	margin-bottom: rem-calc(15px);
}
.mb-0 {
	margin-bottom: 0;
}
.lh-group > * {
	line-height: $paragraph-line-height;
}