/**
 * WordPress Core
 */
 /* =WordPress Core
 -------------------------------------------------------------- */
.alignnone {
	margin: rem-calc(5px 15px 15px 0);
}

.aligncenter {
	display: block;
	margin: rem-calc(5px) auto rem-calc(5px) auto;
}

.alignright {
	float:right;
	margin: rem-calc(5px 0 15px 15px);
}

.alignleft {
	float: left;
		margin: rem-calc(5px 15px 15px 0);
}

.aligncenter {
	display: block;
	margin: rem-calc(5px) auto rem-calc(5px) auto;
}

a {

	img {

		&.alignright {
			float: right;
			margin: rem-calc(5px 0 15px 15px);
		}

		&.alignnone {
			margin: rem-calc(5px 15px 15px 0);
		}

		&.alignleft {
			float: left;
			margin: rem-calc(5px 15px 15px 0);
		}

		&.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto
		}
	}
}

.wp-caption {
	@include panel($panel-bg, $padding:rem-calc(5px));
	text-align: center;

	&.alignnone {
		margin: rem-calc(5px 15px 15px 0);
	}

	&.alignleft {
		margin: rem-calc(5px 15px 15px 0);
	}

	&.alignright {
		margin: rem-calc(5px 0 15px 15px);
	}

	figcaption {
		font-size: rem-calc(14px);
		margin-top: rem-calc(5px);
	}
}

/**
 * Article list
 */
article.post {
	margin-bottom: rem-calc(30px);
	padding-bottom: rem-calc(30px);
	border-bottom:1px solid $panel-border-color;

	&:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom:0;
	}

	.entry-content {

		>:last-child {
			margin-bottom: 0;
		}

		+ * {
			margin-top:rem-calc(15px);
		}
	}

	.meta {
		font-size:rem-calc(14px);
		color:scale-color($body-font-color, $lightness: 25%);
		margin-bottom: 0;
	}

	header + .entry-content {
		margin-top:rem-calc(15px);
	}

	* + #comments {
		margin-top: rem-calc(15px);
	}
}

/**
 * Comments
 */
#comments {
	clear:both;
	@extend .clearfix;
}
.comment-list {
	margin: 0;
	list-style:none;

	.nested {
		list-style: none;
		margin-left: rem-calc(30px);

		@media #{$medium-up} {
			margin-left: rem-calc(60px);
		}
	}

	li {
		margin-bottom: rem-calc(15px);
	}

	.comment-header {
		@include panel($panel-bg, $padding:rem-calc(10px));
		clear:both;
		@extend .clearfix;
	}

	.avatar {
		display: block;
		float:left;
		margin-right: rem-calc(10px);
		border-radius: 50%;
	}

	.comment-meta {
		font-size:rem-calc(14px);
		color:scale-color($body-font-color, $lightness: 25%);
	}

	.comment-body {

		*:last-child {
			margin-bottom: 0;
		}
	}
}

/**
 * Pagination
 */
ul.page-numbers {
	@extend .pagination;
	margin-top: rem-calc(30px);
	padding-top: rem-calc(30px);
	border-top: 1px solid $panel-border-color;
	margin-bottom: 0;
	height: auto;
}
ul.pagination {
	margin-bottom: 0;
	@extend .clearfix;
	height: auto;

	li:empty {
		display: none;
	}
}

/**
 * Gallery
 */
.gallery-row {

	+ .gallery-row {
		margin-top: ($column-gutter / 2);
	}
}

/**
 * Search Results
 */
.search-results {

	.post-type + .post-type {
		margin-top: rem-calc(30px);
	}

	.search-back {
		clear:both;
		@extend .clearfix;
	}
}

/**
 * Parsley
 */
.parsley-errors-list {
	list-style: none;
	background:$alert-color;
	color:#fff;
	font-size:rem-calc(14px);
	margin: 0;

	&.filled {
		padding:$form-spacing / 2;
		margin: -$form-spacing 0 $form-spacing 0;
	}

	li {
		margin-bottom: 0;
	}
}